<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h1 style="text-align: center;">Add Course</h1>
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Course Title:</label>
                    <input placeholder="Enter your Course Title"type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Course Duration:</label>
                    <input placeholder="Enter your Course Duration"type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Course Description:</label>
                    <input placeholder="Enter your Course Description"type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Course Date:</label>
                    <input placeholder="Enter your Course Date"type="Date" name="" id=""class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Course Venu:</label>
                    <input placeholder="Enter your Course Venu"type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-success" type="button">Submit</button>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>